<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Band.Client.Infrastructure.Properties.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Band.Client.Infrastructure.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Band.Client.Infrastructure.Properties.AppSettings>
            <setting name="ServerName" serializeAs="String">
                <value>(local)</value>
            </setting>
            <setting name="DBName" serializeAs="String">
                <value>WeighDatabase</value>
            </setting>
            <setting name="Lang" serializeAs="String">
                <value>RU</value>
            </setting>
        </Band.Client.Infrastructure.Properties.AppSettings>
        <Band.Client.Infrastructure.Properties.Settings>
            <setting name="ServerName" serializeAs="String">
                <value>(local)</value>
            </setting>
            <setting name="DBName" serializeAs="String">
                <value>WeighDatabase</value>
            </setting>
        </Band.Client.Infrastructure.Properties.Settings>
    </userSettings>
</configuration>