<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Band.Client.Infrastructure.Properties.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Band.Client.Infrastructure.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Band.Client.Infrastructure.Properties.AppSettings>
            <setting name="ServerName" serializeAs="String">
                <value>(local)</value>
            </setting>
            <setting name="DBName" serializeAs="String">
                <value>WeighDatabase</value>
            </setting>
            <setting name="Lang" serializeAs="String">
                <value>RU</value>
            </setting>
            <setting name="TServer" serializeAs="String">
                <value>http://ns.e105.ru:3082</value>
            </setting>
            <setting name="TVideoServer" serializeAs="String">
                <value>http://ns.e105.ru:3084</value>
            </setting>
            <setting name="TLogin" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="TPass" serializeAs="String">
                <value />
            </setting>
            <setting name="CamerasConfigurator" serializeAs="String">
                <value>&lt;?xml version="1.0" encoding="utf-16"?&gt;
&lt;dictionary&gt;
  &lt;item&gt;
    &lt;key&gt;
      &lt;int&gt;0&lt;/int&gt;
    &lt;/key&gt;
    &lt;value&gt;
      &lt;ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"&gt;
        &lt;string&gt;5e73972f-3b78-4c96-b1fb-8e97632bea2e&lt;/string&gt;
        &lt;string&gt;ac998b73-38d5-4cdd-bf4a-1d6ca9dce859&lt;/string&gt;
&lt;string&gt;2ab41057-922d-4a36-831f-3ebca85a449d&lt;/string&gt;
&lt;string&gt;5cdec79f-6552-4e11-995d-1c0736513ecf&lt;/string&gt;

         &lt;/ArrayOfString&gt;
    &lt;/value&gt;
  &lt;/item&gt;
  &lt;item&gt;
    &lt;key&gt;
      &lt;int&gt;1&lt;/int&gt;
    &lt;/key&gt;
    &lt;value&gt;
      &lt;ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"&gt;
              &lt;string&gt;ef4fc01e-a8f3-474b-b9fb-7ebc81c5364d&lt;/string&gt;
        &lt;string&gt;e5b86eb0-07a8-4d57-b2a2-1321ab981955&lt;/string&gt;
&lt;string&gt;b3d506ab-4a7e-4a9b-a47d-0eb87b6cbf98&lt;/string&gt;
      &lt;/ArrayOfString&gt;
    &lt;/value&gt;
  &lt;/item&gt;
&lt;/dictionary&gt;</value>
            </setting>
        </Band.Client.Infrastructure.Properties.AppSettings>
        <Band.Client.Infrastructure.Properties.Settings>
            <setting name="ServerName" serializeAs="String">
                <value>(local)</value>
            </setting>
            <setting name="DBName" serializeAs="String">
                <value>WeighDatabase</value>
            </setting>
        </Band.Client.Infrastructure.Properties.Settings>
    </userSettings>
</configuration>